* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  margin: 50px;
}
.box {
  height: 100px;
  width: 400px;
  background-color: aqua;
  border: 1px solid;
}
.box1 {
  background-color: orangered;
}
.box2 {
  background-color: white;
  display: flex;
  justify-content: center;
}
.box3 {
  background-color: green;
}
img {
  height: 100px;
  width: 100px;
}
